<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Nuevo Producto</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input [(ngModel)]="modelProducto.nombre" name="nombre" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Marca:</label>
                    <input [(ngModel)]="modelProducto.marca" name="marca" type="text" class="form-control">
                </div>                           
                <div class="form-group">
                    <label for="">Presentación:</label>
                    <input [(ngModel)]="modelProducto.presenta" name="presenta" type="text" class="form-control">
                </div>
                <div class="form-group" style="margin-bottom: 8pt;">
                    <label for="">Cantidad:</label>
                    <input [(ngModel)]="modelProducto.cant" name="cant" type="number" class="form-control">
                </div>              
                <button (click)="Guardar(modelProducto)" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>